.dropify::-webkit-file-upload-button {
  visibility: hidden;
}

.dropify {
  height: 120px !important;
  color: var(--bs-secondary);
}

.dropify::before {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  color: var(--bs-secondary);
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}

.dropify-receipt::before {
  content: 'Click here to upload receipts';
}